<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <!--connectionStrings>
    <add name="s10338ConnectionString" connectionString="Data Source=HOMERW\SQLEXPRESS;Initial Catalog=fitness;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings-->
  <!--connectionStrings>
    <add name="s10338ConnectionString" connectionString="Data Source=GR4-0009825\MSSQLSERVER2;Initial Catalog=s10338;Persist Security Info=True;User ID=radek;Password=nokia1" providerName="System.Data.SqlClient" />
  </connectionStrings-->
  <connectionStrings>
    <add name="s10338ConnectionString" connectionString="Data Source=db-mssql.pjwstk.edu.pl;Initial Catalog=s10338;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
